<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winter.mapper.power.RoleMenusMapper" >
  <resultMap id="BaseResultMap" type="com.winter.model.power.RoleMenus" >
    <id column="menus_id" property="menusId" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="menus_url" property="menusUrl" jdbcType="VARCHAR" />
    <result column="menus_depict" property="menusDepict" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    menus_id, role_id, menus_url, menus_depict
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role_menus
    where menus_id = #{menusId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role_menus
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role_menus
    where menus_id = #{menusId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.winter.model.power.RoleMenus" >
    insert into role_menus (menus_id, role_id, menus_url, 
      menus_depict)
    values (#{menusId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{menusUrl,jdbcType=VARCHAR}, 
      #{menusDepict,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.winter.model.power.RoleMenus" >
    insert into role_menus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menusId != null" >
        menus_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="menusUrl != null" >
        menus_url,
      </if>
      <if test="menusDepict != null" >
        menus_depict,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menusId != null" >
        #{menusId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menusUrl != null" >
        #{menusUrl,jdbcType=VARCHAR},
      </if>
      <if test="menusDepict != null" >
        #{menusDepict,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winter.model.power.RoleMenus" >
    update role_menus
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menusUrl != null" >
        menus_url = #{menusUrl,jdbcType=VARCHAR},
      </if>
      <if test="menusDepict != null" >
        menus_depict = #{menusDepict,jdbcType=VARCHAR},
      </if>
    </set>
    where menus_id = #{menusId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winter.model.power.RoleMenus" >
    update role_menus
    set role_id = #{roleId,jdbcType=VARCHAR},
      menus_url = #{menusUrl,jdbcType=VARCHAR},
      menus_depict = #{menusDepict,jdbcType=VARCHAR}
    where menus_id = #{menusId,jdbcType=VARCHAR}
  </update>
</mapper>