<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winter.mapper.BlogTitleMapper" >
  <resultMap id="BaseResultMap" type="com.winter.model.vo.BlogTitleVo" >
    <result column="blog_id" property="blogId" jdbcType="VARCHAR" />
    <result column="blog_title" property="blogTitle" jdbcType="VARCHAR" />
    <result column="title_img_id" property="titleImgId" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Blog_Title_Column">
  	blog_id, blog_title, title_img_id, author, create_time, update_time
  </sql>
  
  
  <select id="selectBlogTitle" resultMap="BaseResultMap">
  	select
  	<include refid="Blog_Title_Column"/>
  	from blog_title
  	order by create_time DESC
  </select>
  
  <select id="selectByBlogId" parameterType="java.lang.String" resultType="com.winter.model.BlogTitle">
  	select 
  	<include refid="Blog_Title_Column"/>
  	from blog_title
  	where blog_id = #{blogId,jdbcType=VARCHAR}
  </select>
  
  <insert id="insert" parameterType="com.winter.model.BlogTitle" >
    insert into blog_title (blog_id, blog_title, title_img_id, 
      author, create_time, update_time
      )
    values (#{blogId,jdbcType=VARCHAR}, #{blogTitle,jdbcType=VARCHAR}, #{titleImgId,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winter.model.BlogTitle" >
    insert into blog_title
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="blogId != null" >
        blog_id,
      </if>
      <if test="blogTitle != null" >
        blog_title,
      </if>
      <if test="titleImgId != null" >
        title_img_id,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="blogId != null" >
        #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="blogTitle != null" >
        #{blogTitle,jdbcType=VARCHAR},
      </if>
      <if test="titleImgId != null" >
        #{titleImgId,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>