<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winter.mapper.UserMessageMapper" >
  <resultMap id="BaseResultMap" type="com.winter.model.UserMessage" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="INTEGER" />
    <result column="personal_web" property="personalWeb" jdbcType="VARCHAR" />
    <result column="we_chat" property="weChat" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
    <result column="birthdate" property="birthdate" jdbcType="DATE" />
  </resultMap>
  
   <sql id="Base_Column_List" >
   	user_id, user_name, email, 
      phone, personal_web, we_chat, 
      qq, age, native_place, 
      birthdate
  </sql>
  
  <select id="queryUserById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_message
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
  
  
  <update id="updateUser" parameterType="com.winter.model.UserMessage">
    update user_message
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="personalWeb != null">
        personal_web = #{personalWeb,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null">
        we_chat = #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="nativePlace != null">
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        birthdate = #{birthdate,jdbcType=DATE},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  
  <insert id="insert" parameterType="com.winter.model.UserMessage" >
    insert into user_message (user_id, user_name, email, 
      phone, personal_web, we_chat, 
      qq, age, native_place, 
      birthdate)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=INTEGER}, #{personalWeb,jdbcType=VARCHAR}, #{weChat,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{nativePlace,jdbcType=VARCHAR}, 
      #{birthdate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.winter.model.UserMessage" >
    insert into user_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="personalWeb != null" >
        personal_web,
      </if>
      <if test="weChat != null" >
        we_chat,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="nativePlace != null" >
        native_place,
      </if>
      <if test="birthdate != null" >
        birthdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="personalWeb != null" >
        #{personalWeb,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null" >
        #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="nativePlace != null" >
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null" >
        #{birthdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>